#cloud-config

write_files:
  - path: /etc/netplan/51-default.yaml
    permissions: "0644"
    content: |
      network:
        version: 2
        ethernets:
          enp7s0:
            dhcp4: true
            routes:
              - to: 0.0.0.0/0
                via: ${network_gateway}
            nameservers:
              addresses:
                - 185.12.64.2
                - 185.12.64.1

runcmd:
  - netplan apply
